h3{
    text-align: center;
}
body{
    background-color: rgb(41, 42, 45);
    font-family: Courier New ;
    font-style: italic;
}
.welcome{
    font-size: 60px;
    text-align: center;
    margin-top: 100px;
    color: aliceblue;
}
.error-block {
    background-color: #ffcccc;
    padding: 10px;
    border: 1px solid #ff0000;
    border-radius: 5px;
    width: 50%;
    margin: 20px auto;
    font-size: 20px;
    font-weight: bold;
}

.success-block {
    background-color: #ccffcc;
    padding: 10px;
    border: 1px solid #00ff00;
    border-radius: 5px;
    width: 50%;
    margin: 20px auto;
    text-align: center;
}
input{
    width: 250px;
    height: 50px;
    font-size: 20px;
}
select{
    width: 200px; /* Установка ширины */
    height: 50px; /* Установка высоты */
    font-size: 16px; /* Увеличение размера шрифта */
    padding: 5px; /* Добавление внутренних отступов */
}
label{
    font-size: 30px;
    color: aliceblue;
    height: 50px;
}
.regist_form{
    border-radius: 10px;
    background-color: rgb(30, 30, 30);
   
    width: 600px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    height: 300px;
    padding: 120px;
}
.button{
    width: 600px;
    height: 100px;
    font-size: 40px;
}
a{
    font-size: 20px;
    color: #00ff00;
    text-decoration: none;
}